{% extends 'main/layout.html' %}

{% block title %}
    Редактирование новости
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main">

            <div class="main_h1">
                <div class="col align-content-center">
                    <h1 class="main_h1_text">Редактирование новости</h1>
                </div>
            </div>

            {#Редактирование новости#}
            <div class="card shadow border-0 mb-7">
                <div class="table-responsive">
                    <form action="{% url 'news_edit' id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table table-hover table-nowrap">
                            <thead class="thead-light">

                            <tr>
                                <th scope="col">Название</th>
                                <td>
                                    {{ form.title }}
                            </tr>
                            <tr>
                                <th scope="col">Картинка</th>
                                <td>
                                    <label for="img">{{ form.image.url }}</label>
                                    {{ form.image }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Описание</th>
                                <td>
                                    {{ form.description }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Полная статья</th>
                                <td>
                                    {{ form.full_text }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Новость опубликована</th>
                                <td>
                                    {{ form.published }}
                                </td>
                            </tr>
                            <input type="submit" class="btn btn-sm btn-neutral" value="Сохранить">
                            </thead>
                        </table>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}