{% extends 'main/layout.html' %}

{% block title %}
    Неопубликованное аниме
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main">

            <div class="main_h1">
                <div class="col align-content-center">
                    <h1 class="main_h1_text">Неопубликованное аниме</h1>
                </div>
            </div>

            {# Вывод аниме #}
            <div class="d-flex nav">
                {% if anime %}
                    {% for el in anime %}
                        <div class="col col-md-6 offset-md-0">
                            <div class="col-12 col-lg-auto">
                                <div class="main_content d-flex">
                                    <img src="{{ el.image.url }}" alt="{{ el.image.url }}" width="150px"
                                         height="200px" class="">
                                    <div class="col">
                                        <div class="col-12">
                                            <h3 class="main_content_h1">
                                                {{ el.title }}
                                            </h3>
                                        </div>
                                        <div class="col-12 main_content_eps pt-0">
                                            Эпизод: {{ el.episode }}
                                        </div>
                                        <div class="col-12 main_content_eps">
                                            {% for tag in el.tags.all %}
                                                {{ tag }} /
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% if user.is_staff %}
                                        <a href="{% url 'anime_edit' el.pk %}">Редактировать</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {# Пагинация #}
            <nav class="list-pages">
                <ul>
                    {% for p in anime.paginator.page_range %}
                        {% if anime.number == p %}
                            <li class="page-num page-num-selected">{{ p }}</li>
                        {% else %}
                            <li class="page-num">
                                <a href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>

        </div>
    </div>

{% endblock content %}
