{% extends 'main/layout.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main">

            <div class="main_h1">
                <div class="col align-content-center">
                    <h1 class="main_h1_text">Редактирование аниме</h1>
                </div>
            </div>

            {#Редактирование аниме#}
            <div class="card shadow border-0 mb-7">
                <div class="table-responsive">
                    <form action="{% url 'anime_edit' id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table table-hover table-nowrap">
                            <thead class="thead-light">

                            <tr>
                                <th scope="col">Название</th>
                                <td>
                                    {{ form.title }}
                            </tr>
                            <tr>
                                <th scope="col">Картинка</th>
                                <td>
                                    <label for="img">{{ form.image.url }}</label>
                                    {{ form.image }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Жанры</th>
                                <td>
                                    {% for tag in tags %}
                                        <input type="checkbox" class="text" name="checked_tags" id="{{ tag.name }}"
                                               checked
                                               value="{{ tag.name }}">
                                        <label for="{{ tag.name }}">{{ tag.name }}</label>
                                    {% endfor %}
                                    {% for no_anime_tag in no_anime_tags %}
                                        <input type="checkbox" class="text" name="checked_tags" id="{{ no_anime_tag }}"
                                               value="{{ no_anime_tag }}"/>
                                        <label for="{{ no_anime_tag }}">{{ no_anime_tag }}</label>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Эпизод</th>
                                <td>
                                    {{ form.episode }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Описание</th>
                                <td>
                                    {{ form.description }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Аниме опубликовано</th>
                                <td>
                                    {{ form.published }}
                                </td>
                            </tr>
                            <input type="submit" class="btn btn-sm btn-neutral" value="Сохранить">
                            </thead>
                        </table>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}